$blue: #5445FF;
$blue-alt: lighten($blue, 15);
$red: #FF5445;
$green: #49c93d;
$white: #F7F7F7;
$dark: #222233;
$black-alt: lighten($dark, 15);

$palette: (
	light: (
		bg-50: hsl(0, 0%, 96%),
		bg-60: hsl(0, 0%, 99%),
		bg-70: hsl(0, 0%, 100%),
		bg-shadow: transparentize(hsl(0, 0, 15%), .9),
		bg-accent: hsl(0, 0, 70%),
		bg-accent-alt: hsl(0, 0, 60%),
		bg-accent-shadow: transparentize(hsl(0, 0, 70%), .7),
		text: hsl(240, 20%, 17%),
		blue: hsl(245, 100%, 64%),
		blue-alt: hsl(245, 100%, 74%),
		blue-shadow: transparentize(hsl(245, 100%, 64%), .5),
		red: hsl(5, 100%, 64%),
		red-alt: hsl(5, 100%, 74%),
		red-shadow: transparentize(hsl(5, 100%, 64%), .5),
		green: hsl(115, 56%, 51%),
		green-alt: hsl(115, 56%, 61%),
		green-shadow: transparentize(hsl(115, 56%, 51%), .5),
		),
	dark: (
		bg-50: hsl(240, 20%, 16%),
		bg-60: hsl(240, 20%, 19%),
		bg-70: hsl(240, 20%, 25%),
		bg-shadow: transparentize(hsl(240, 20%, 5%), .9),
		bg-accent: hsl(240, 20%, 30%),
		bg-accent-alt: hsl(240, 20%, 40%),
		bg-accent-shadow: transparentize(hsl(240, 20%, 30%), .7),
		text: hsl(0, 0%, 97%),
		blue: hsl(245, 100%, 64%),
		blue-alt: hsl(245, 100%, 74%),
		blue-shadow: transparentize(hsl(245, 100%, 64%), .6),
		red: hsl(5, 100%, 64%),
		red-alt: hsl(5, 100%, 74%),
		red-shadow: transparentize(hsl(5, 100%, 64%), .6),
		green: hsl(115, 56%, 51%),
		green-alt: hsl(115, 56%, 61%),
		green-shadow: transparentize(hsl(115, 56%, 51%), .6),
		),
);

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	@each $key, $value in map-get($palette, 'light') {
		#{'--#{$key}'}: $value;
	}
}


html[dark="true"]
{
	@each $key, $value in map-get($palette, 'dark') {
		#{'--#{$key}'}: $value;
	}
}

html[dark="true"] header nav .mode .sun { display: none; }
html:not([dark="true"]) header nav .mode .moon { display: none; }

* {
	font-family: 'Space Mono';
	font-variant-ligatures: none;
}

html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: var(--bg-50);
}

h1, h2, h3, h4, h5, p { margin: 0; }

.wrapper {
	display: grid;
	grid-template-rows: min-content auto min-content;
	grid-template-areas:
		"header"
		"content"
		"footer";
	min-height: 100vh;
	gap: 3rem;

	header {
		display: grid;
		grid-template-columns: auto max-content;
		align-items: center;

		grid-area: header;
		padding: .75rem;
		background: linear-gradient(90deg, var(--blue) 0%, var(--blue-alt) 100%);
		box-shadow: 0px 8px 1.5rem 0px var(--blue-shadow);
		color: $white;

		.title {
			word-break: unset;
		}

		nav {
			display: flex;
			flex-direction: row;

			a {
				text-decoration: none;
				color: $white;
			}
		}
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		grid-area: "content";
		padding: 0 3rem;

		.generator {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			background: var(--bg-60);
			padding: 1.5rem;
			box-shadow: 0 8px 2rem 0 var(--bg-shadow);
			border-radius: .5rem;

			.map {
				display: flex;
				flex-direction: column;
				gap: .3rem;

				.row {
					display: flex;
					flex-direction: row;
					gap: .3rem;
				}

				input[type=checkbox] {
					appearance: none;
					background: var(--bg-accent);
					width: 2rem;
					height: 2rem;
					border-radius: .3rem;
					transition: background .15s ease-out;

					&:hover {
						background: var(--bg-accent-alt);
					}

					&:checked {
						background: var(--blue);

						&:hover {
							background: var(--blue-alt);
						}
					}
				}
			}

			.ranges {
				display: flex;
				flex-direction: row;
				gap: 1rem;

				.range {
					background: var(--bg-70);
					box-shadow: 0 8px 1.5rem 0 var(--bg-shadow);
					color: var(--text);
					padding: .5rem;
					border-radius: .3rem;
					display: grid;
					gap: .3rem;
					grid-template:
					auto auto
					auto auto;
					grid-template-areas:
					"name value"
					"slider slider";

					.name {
						grid-area: name;
						font-weight: bold;
					}

					.value {
						grid-area: value;
						justify-self: right;
					}

					.slider {
						grid-area: slider;
					}
				}
			}

			.buttons {
				display: flex;
				gap: 1rem;

				button {
					--button-bg: var(--blue);
					--bg-shadow-col: var(--blue-shadow);
					appearance: none;
					border: none;
					padding: .5rem;
					border-radius: .3rem;
					font-weight: bold;
					background: var(--button-bg);
					color: $white;
					box-shadow: 0 .3rem 1rem 0 var(--bg-shadow-col);
					transition: transform .15s ease-out, background 100ms ease-out, box-shadow 100ms ease-out;

					&:disabled {
						--button-bg: var(--bg-accent);
						--bg-shadow-col: var(--bg-accent-shadow);
						cursor: not-allowed;
					}

					&:active {
						transform: translateY(.2rem);
						box-shadow: 0 .2rem 1.2rem 0 var(--bg-shadow-col);
					}

					&:not(:disabled):hover {
						transform: translateY(-.2rem);
						box-shadow: 0 .6rem 1.2rem 0 var(--bg-shadow-col);
					}

					&.danger {
						--button-bg: var(--red);
						--bg-shadow-col: var(--red-shadow);
					}
					
					&.valid {
						--button-bg: var(--green);
						--bg-shadow-col: var(--green-shadow);
					}
				}
			}
		}

		.sections {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1.5rem;

			section {
				background: var(--bg-60);
				box-shadow: 0 8px 2rem 0 var(--bg-shadow);
				color: var(--text);
				border-radius: .5rem;
				padding: 1.5rem;
				
				.title {
					margin-bottom: .5rem;
				}
				
				.content {
					display: flex;
					flex-direction: column;
					gap: .5rem;
					
					
					/* p {
						position: relative;
						padding-left: 1rem;
						
						&::before {
							content: '';
							display: block;
							position: absolute;
							width: 2px;
							height: 100%;
							left: 0;
							background: var(--bg-accent-alt);
						}
					} */
					
					p {
						position: relative;
						padding: 1rem;
						background: var(--bg-70);
						border-radius: .5rem;
						box-shadow: 0 8px 1rem 0 var(--bg-shadow);
					}
					
					pre {
						margin: 0;
						code {
							border-radius: .5rem;
						}
					}
				}

			}
		}
	}

	footer {
		grid-area: "footer";
		padding: .75rem;
		background: linear-gradient(90deg, var(--blue) 0%, var(--blue-alt) 100%);
		color: $white;

		a {
			position: relative;
			text-decoration: none;
			color: $white;
			font-weight: bold;
			letter-spacing: normal;

			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background: $white;
				right: 0;
				bottom: 0;
				transition: all .35s ease-out;
			}

			&:hover::after {
				right: 12.5%;
				width: 75%;
			}
		}
	}
}

span {
	&.bold {
		font-weight: bold;
	}
	&.underline {
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
}
